{{ define "commit_picker" }}
{{ if gt (len .Data.commits) 1 }}
<form
  action="/{{ .Vars.username }}/{{ .Vars.alias }}/diff"
  method="get"
  class="flex-between"
>
  {{ $pageHash := .Data.hash }}
  <input type="hidden" name="on" value="{{ $pageHash }}">
  <select name="against">
    {{ range .Data.commits }}
    {{ if eq .Hash $pageHash | not }}
    <option value="{{ .Hash }}">
      {{ slice .Hash 0 7 }} "{{ .Message }}"
    </option>
    {{ end }}
    {{ end }}
  </select>
  <button>Diff</button>
</form>
{{ end }}
{{ end }}
