{{ define "file_content" }}
{{ $owned := .Owned }}
{{ $saved := not .Data.editAction }}
{{ $username := .Vars.username }}
{{ $alias := .Vars.alias }}
{{ $hash := .Vars.hash }}
<h1>
  {{ if $username }}
  <a href="/{{ $username }}">{{ $username }}</a> / 
  <a href="/{{ $username }}/{{ $alias }}">{{ $alias }}</a>
  {{ if $hash }} @ {{ shortenHash $hash }} {{ end }}
  {{ else }} {{ $alias }} {{ end }}
</h1>
<div class="file-controls flex-between">
  <strong>{{ .Data.path }}</strong>
  {{ if $saved }}
  <a href="/{{ $username }}/{{ $alias }}/commits">Commits</a>
  {{ if $hash }}
  <a href="/{{ $username }}/{{ $alias }}/{{ $hash }}/raw">Raw</a>
  {{ else }}
  <a href="/{{ $username }}/{{ $alias }}/raw">Raw</a>
  {{ end }}
  {{ if .Owned }}
  <a href="/{{ $username }}/{{ $alias }}/edit">Edit</a>
  {{ end }}
  {{ template "commit_picker" . }}
  {{ end }}
</div>
<pre><code>{{ .Data.content }}</pre></code>
{{ if and (not $owned) .Session }}
<form method="post" class="empty" action="/{{ .Session.Username }}/{{ $alias }}">
  <input type="hidden" name="username" value="{{ $username }}">
  <input type="hidden" name="alias" value="{{ $alias }}">
  <input type="hidden" name="hash" value="{{ .Data.hash }}">
  <button class="success">Fork</button>
</form>
{{ end }}
{{ end }}
