<section>
  {{ template "file_content" . }}
  <p>{{ .Data.timestamp }}</p>
  <p><em>{{ .Data.message }}</em></p>
  {{ if .Data.current }}
  <strong>Current revision</strong>
  {{ else if .Owned }}
  <form method="post" class="empty">
    <button class="success">Restore</button>
  </form>
  {{ end }}
</section>
