<main>
  {{ template "file_content" . }}
  <p>{{ .Data.timestamp }}</p>
  <p>
    {{ if .Data.forkedFrom }}
    <a href="{{ .Data.message }}">Forked from</a>
    {{ else }}
    <em>{{ .Data.message }}</em>
    {{ end }}
  </p>
</main>
