<main>
  <h1>
    {{ if not .Owned }}
    <a href="/{{ .Vars.username }}">{{ .Vars.username -}}</a> / 
    {{ end }}
    <a href="/{{ .Vars.username }}/{{ .Vars.alias }}">{{ .Vars.alias }}</a>
    commits
  </h1>
  <div class="table-wrapper"><!-- TODO make table scroll; needs more css -->
    <table>
      <thead>
        <tr>
          <th>Hash</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {{ $username := .Vars.username }}
        {{ $alias := .Vars.alias }}
        {{ range .Data.commits }}
        <tr>
          <td>
            <a {{ if .Current }}class="active"{{ end }} href="/{{ $username }}/{{ $alias }}/{{ .Hash }}">{{ shortenHash .Hash }}</a>
          </td>
          <td>
            {{ if .ForkedFrom }}
            <a href="{{.Message }}">Forked from</a>
            {{ else }}
            {{ .Message }}
            {{ end }}
          </td>
          <td>{{ .Timestamp }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</main>
