<main>
  <h1>
    {{ if not .Owned }}
    <a href="/{{ .Vars.username }}">{{ .Vars.username -}}</a> / 
    {{ end }}
    <a href="/{{ .Vars.username }}/{{ .Vars.alias }}">{{ .Vars.alias }}</a>
    commits
  </h1>
  <div class="table-wrapper"><!-- TODO make table scroll; needs more css -->
    <table>
      <thead>
        <th>Hash</th>
        <th>Message</th>
        <th>Timestamp</th>
        <th></th>
      </thead>
      <tbody>
        {{ $username := .Vars.username }}
        {{ $alias := .Vars.alias }}
        {{ range .Data.commits }}
        <tr>
          <td>
            <a href="/{{ $username }}/{{ $alias }}/{{ .Hash }}">{{ .Hash }}</a>
          </td>
          <td>{{ .Message }}</td>
          <td>{{ .Timestamp }}</td>
          {{ if .Current }}
          <td><em>Current</em></td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</main>
