<main>
  {{ template "file_content" . }}
  {{ if .Data.current }}
  <strong>Current revision</strong>
  {{ else if .Owned }}
  <form method="post" class="empty">
    <button class="success">Restore</button>
  </form>
  {{ end }}
  <div class="commit-info">
    <p>{{ .Data.timestamp }}</p>
    <p><em>{{ .Data.message }}</em></p>
  </div>
</main>
