<section>
  {{ template "file_content" . }}
  <div class="flex-between">
    <form method="post" class="">
      <button class="success">Create</button>
    </form>
    <form method="get" action="{{ .Data.editAction }}">
      <input type="hidden" name="edit" value="true">
      <button class="danger">Edit</button>
    </form>
  </div>
</section>
