:root {
    --main: #f2eef5;
    --background: #fffffe;
    --headline: #181818;
    --paragraph: #2e2e2e;
    --highlight: #4fc4cf;
    --secondary: #994ff3;
    --tertiary: #fbdd74;
}

html {
    box-sizing: border-box;
    font-size: 18px;
    background: var(--background);
    line-height: 1.6;
    font-family: Roboto, Arial, sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
}

section {
    margin: 3rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button, a, h1, h2, h3, h4, label {
    color: var(--headline);
}

a:hover, .active {
    color: var(--highlight);
}

nav {
    display: flex;
    flex-direction: row;
    border-bottom: solid 3px var(--secondary);
    font-size: 1.3rem;
}

nav > a:nth-child(3) {
    /* Pushes everything after this child to the right nav. */
    margin-left: auto;
}

nav > a {
    text-decoration: none;
    padding: 1rem;
}

button {
    background-color: var(--highlight);
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border: solid 1px var(--highlight);
    border-radius: 3px;
    font-size: 1.05rem;
}

button:hover {
    box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6)
}

label:hover {
    text-decoration: underline;
}

form:not(.form-redirect) {
    display: grid;
    max-width: 500px;
    gap: 1rem;
}

form > label, form > button {
    min-width: 100px;
    grid-column: 1;
}

form > input, form > textarea {
    grid-column: 2 / 4;
}

input {
    font-size: 1.1rem;
}

pre {
    padding: 10px;
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    background: var(--paragraph);
    border-radius: 3px;
    overflow: auto;
    color: var(--background);
    max-height: 60vh;
}

.flash-error, .flash-success {
    padding: 1rem;
    border-radius: 3px;
}

.flash-success, .success {
    background: var(--highlight);
    border: solid 1px var(--highlight);
}

.flash-error, .danger {
    background: var(--tertiary);
    border: solid 1px var(--tertiary);
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    form > input {
        grid-column: 1;
    }
}
