:root {
    --main: #f2eef5;
    --background: #fffffe;
    --headline: #181818;
    --paragraph: #2e2e2e;
    --highlight: #4fc4cf;
    --secondary: #994ff3;
    --tertiary: #fbdd74;
}

html {
    box-sizing: border-box;
    font-size: 18px;
    background: var(--background);
    line-height: 1.6;
    font-family: Roboto, Arial, sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
}

section {
    margin: 3rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button, a, h1, h2, h3, h4, label {
    color: var(--headline);
}

a:hover, .active {
    color: var(--highlight);
}

nav {
    display: flex;
    flex-direction: row;
    border-bottom: solid 3px var(--secondary);
    font-size: 1.3rem;
}

nav > a:nth-child(3) {
    /* Pushes everything after this child to the right nav. */
    margin-left: auto;
}

nav > a {
    text-decoration: none;
    padding: 1rem;
}

button {
    background-color: var(--highlight);
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border: solid 1px var(--highlight);
    border-radius: 3px;
    font-size: 1.05rem;
}

button:hover {
    box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6)
}

label:hover {
    text-decoration: underline;
}

form {
    display: grid;
    max-width: 500px;
    gap: 1rem;
}

form > label, form > button {
    grid-column: 1;
}

form > input {
    grid-column: 2 / 4;
}

input {
    font-size: 1.1rem;
}

.flash-error {
    padding: 1rem;
    background: var(--tertiary);
    border-radius: 3px;
}

@media (max-width: 600px) {
    form > input {
        grid-column: 1;
    }
}
