{{ define "diff" }}
<div>
  <div class="file-controls flex-between">
    <strong>{{ .Data.path }}</strong>
  </div>
  <pre><code>
    {{- range .Data.diffs -}}
    {{- if eq .Type 1 -}}
    <ins>{{- .Text -}}</ins>
    {{- else if eq .Type 0 -}}
    <span>{{- shortenEqualText .Text -}}</span>
    {{- else if eq .Type -1 -}}
    <del>{{- .Text -}}</del>
    {{- end }}
    {{- end }}
  </pre></code>
</div>
{{ end }}
