{{ define "file_content" }}
<div class="file-content-wrapper">
  <div class="file-controls flex-between">
    <strong>{{ .Data.path }}</strong>
    {{ if not .Data.editAction }}
    <a href="/{{ .Vars.username }}/{{ .Vars.alias }}/commits">Commits</a>
    {{ if .Vars.hash }}
    <a href="/{{ .Vars.username }}/{{ .Vars.alias }}/{{ .Vars.hash }}/raw">Raw</a>
    {{ else }}
    <a href="/{{ .Vars.username }}/{{ .Vars.alias }}/raw">Raw</a>
    {{ end }}
    {{ if .Owned }}
    <a href="/{{ .Vars.username }}/{{ .Vars.alias }}/edit">Edit</a>
    {{ end }}
    {{ template "commit_picker" . }}
    {{ end }}
  </div>
  <pre class=""><code>{{ .Data.content }}</pre></code>
</div>
{{end}}
