{{define "head"}}
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Version control for dotfiles">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>{{.Title}}</title>
</head>
{{end}}
