{{template "head" .}}
<body>
  {{template "nav" .}}
  <section>
    <h1>{{.Title}}</h1>
    <p>Dotfile is a system for tracking and sharing files.</p>
    <!-- TODO write docs <a href="/docs">Documentation</a> -->
    <a href="/acknowledgments">acknowledgments</a>
  </section>
</body>
