{{ template "head" . }}
<body>
  {{ template "nav" . }}
  <section>
    <h1>{{ .Title }}</h1>
    <ul>
      <li>
        <a href="https://devinadooley.com">Devin Dooley</a> - feedback and web hosting
      </li>
      <li>
        <a href="https://alexthemitchell.com/">Alex Mitchell</a> - contributions and code review
      </li>
      <li>
        <a href="https://www.happyhues.co/palettes/1">Happy Hues</a> - color palette
      </li>
      <li>
        <a href="https://github.com/gorilla/mux">gorilla/mux</a> - routing package
      </li>
      <li>
        <a href="https://github.com/alecthomas/kingpin">kingpin</a> - command line parsing package
      </li>
      <li>
        <a href="https://github.com/sergi/go-diff">go-diff</a> - diffing package
      </li>
    </ul>
  </section>
</body>
