{{ template "head" . }}
<body>
  {{ template "nav" . }}
  <h1>
    <a href="/{{ .Session.Username }}/{{ .Vars.alias }}">{{ .Vars.alias }}</a> - confirm changes
  </h1>
  {{ template "diff" . }}
  <div class="flex-between">
    <form method="post" class="">
      <label for="message">Commit Message</label>
      <input id="message" name="message">
      <button class="success">Create</button>
    </form>
    <form method="get" action="{{ .Data.editAction }}">
      <input type="hidden" name="edit" value="true">
      <button class="danger">Edit</button>
    </form>
  </div>
</body>
