{{ template "head" . }}
<body>
  {{ template "nav" . }}
  <h1>
    {{ if .Data.newFile }}
    {{ .Title }}
    {{ else }}
    <a href="/{{ .Session.Username }}/{{ .Vars.alias }}">{{ .Vars.alias }}</a> - edit
    {{ end }}
  </h1>
  <form method="post">
    {{ if .Data.newFile }}
    <label for="name">Name:</label>
    <input id="name" name="name" placeholder="bashrc" value="{{ .Data.alias }}">
    <label for="path">Path:</label>
    <input id="path" name="path" placeholder="~/.bashrc" value="{{ .Data.path }}" required>
    {{ else }}
    <strong>{{ .Data.path }}</strong>
    {{ end }}
    <label for="contents">Contents:</label>
    <textarea
      cols="80"
      rows="30"
      id="contents"
      name="contents"
      spellcheck="false"
      required
    >{{ .Data.content }}</textarea>
    <button>Submit</button>
  </form>
</body>
