{{template "head" .}}
<body>
  {{template "nav" .}}
  {{template "flash" .}}
  <h1>{{.Title}}</h1>
  <div class="file-nav">
    <a href="/{{.Vars.username}}/{{.Vars.alias}}/commits">View Commits</a>
    <a href="/{{.Vars.username}}/{{.Vars.alias}}/edit">Edit</a>
  </div>
  {{template "file_content" .}}
</body>
