{{template "head" .}}
<body>
  {{template "nav" .}}
  <h1>Find Dotfiles</h1>
  <form>
    <label for="alias">Alias</label>
    <input id="alias" name="alias" type="text" placeholder="vimrc">

    <label for="path">Path</label>
    <input id="path" name="path" type="text" placeholder="~/.vimrc">

    <button type="submit">Search</button>
  </form>
</body>
