{{template "head" .}}
<body>
  {{template "nav" .}}
  <h1>Welcome to dotfilehub!</h1>
  {{if .Session }}
  <p>TODO get list of all files</p>
  <a href="/new_file">Create a new file</a>
  {{else}}
  <p><a href="/signup">Signup</a> or <a href="/explore">browse files</a> to get started.</p>
  {{end}}
</body>
