{{template "head" .}}
<body>
  {{template "nav" .}}
  {{template "flash" .}}
  <section>
    <h1>{{.Title}}</h1>
    <form method="post">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" required>

      <label for="password">Password</label>
      <input id="password" name="password" type="password" required>

      <label for="confirm">Confirm</label>
      <input id="confirm" name="confirm" type="password" required>
      <button>Submit</button>
    </form>
  </section>
</body>
