{{template "head" .}}
<body>
  {{template "nav" .}}
  {{template "flash" .}}
  <section>
    <h1>{{.Title}}</h1>
    <p><a href="/new_file">Add a new file</a></p>
    {{if .Data.files }}
    <div class="table-wrapper">
      <table>
        <thead>
          <th>Alias</th>
          <th>Path</th>
          <th># Commits</th>
          <th>Updated At</th>
        </thead>
        <tbody>
          {{$username := .Vars.username}}
          {{range .Data.files}}
          <tr>
            <td>
              <a href="/{{$username}}/{{.Alias}}">{{.Alias}}</a>
            </td>
            <td>{{.Path}}</td>
            <td>{{.NumCommits}}</td>
            <td>{{.UpdatedAt}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    {{else}}
    No files uploaded.
    {{end}}
  </section>
</body>
