{{template "head" .}}
<body>
  {{template "nav" .}}
  {{template "flash" .}}
  <section>
    <h1>{{.Title}}</h1>
    <p><a href="/new_file">Add a new file</a></p>
    {{if .Data.files }}
    <table>
      <thead>
        <th>Alias</th>
        <th>Path</th>
        <th># Commits</th>
      </thead>
      <tbody>
        {{$username := .Vars.username}}
        {{range .Data.files}}
        <tr>
          <td>
            <a href="/{{$username}}/{{.Alias}}">{{.Alias}}</a>
          </td>
          <td>{{.Path}}</td>
          <td>{{.NumCommits}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    No files uploaded.
    {{end}}
  </section>
</body>
