<main>
  <h1>{{ .Title }}</h1>
  <form method="post">
    <label for="current">Current</label>
    <input id="current" name="current" type="password" required>
    <label for="new">New</label>
    <input id="new" name="new" type="password" autocomplete="new-password" required>
    <label for="confirm">Confirm</label>
    <input id="confirm" name="confirm" type="password" autocomplete="new-password" required>
    <button>Submit</button>
  </form>
</main>
