<main>
  <h1>{{  .Title }}</h1>
  <form method="post">
    <label for="theme">New Theme:</label>
    <select name="theme" id="theme">
      {{- $theme := .Session.Theme -}}
      {{- range .Data.themes -}}
      <option{{ if eq . $theme }} selected="selected" {{ end }}>
        {{- . -}}
      </option>
      {{- end -}}
    </select>
    <br>
    <button>Submit</button>
  </form>
</main>
