{{ define "diff" }}
<div>
  <div class="file-controls flex-between">
    <strong>{{ .Data.path }}</strong>
    {{ if .Data.commits }}
    {{ $on := .Data.on }}
    {{ $against := .Data.against }}
    <form>
      <select name="on">
        {{ range .Data.commits }}
        <option{{ if eq .Hash $on }} selected="selected"{{ end }} value="{{ .Hash }}" >
          {{ shortenHash .Hash }}
          {{ if .ForkedFrom }}
          Fork commit
          {{ else }}
          "{{ .Message }}"
          {{ end }}
        </option>
        {{ end }}
      </select>
      <em>against</em>
      <select name="against" id="against">
        {{ range .Data.commits }}
        <option{{ if eq .Hash $against }} selected="selected"{{ end }} value="{{ .Hash }}">
          {{ shortenHash .Hash }}
          {{ if .ForkedFrom }}
          Fork commit
          {{ else }}
          "{{ .Message }}"
          {{ end }}
        </option>
        {{ end }}
      </select>
      <button>Diff</button>
    </form>
    {{ end }}
  </div>
  <pre class="file-content"><code>
    {{- range .Data.diffs -}}
    {{- if eq .Type 1 -}}
    <ins>{{- .Text -}}</ins>
    {{- else if eq .Type 0 -}}
    <span>{{- shortenEqualText .Text -}}</span>
    {{- else if eq .Type -1 -}}
    <del>{{- .Text -}}</del>
    {{- end }}
    {{- end }}
  </pre></code>
</div>
{{ end }}
