<main>
  {{- template "file_header" . }}
  {{- template "file_content" . }}
  <p>{{ .Data.dateString }}</p>
  <p>
    {{- if .Data.forkedFromUsername }}
    <a href="/{{ .Data.forkedFromUsername }}/{{ .Vars.alias }}/{{.Data.hash }}">Forked from</a>
    {{- else }}
    <em>{{ .Data.message }}</em>
    {{- end }}
  </p>
</main>
