<main>
  {{- template "file_settings_header" . }}
  <p>Delete all commits except for the current revision.</p>
  <form method="post" class="inline">
    <button class="danger">Clear</button>
  </form>
</main>
