<main>
  <h1>Dotfilehub</h1>
  <form method="get">
    <label for="q">Find Files</label>
    <input value="{{ .Data.query }}" id="q" name="q" type="search" placeholder="~/.vimrc"/>
    <button type="submit">Submit</button>
  </form>
  {{- if .Data.files }}
  <hr>
  <div class="table-wrapper">
    <table>
      <tr>
      <thead>
        <th>Alias</th>
        <th>Path</th>
        <th>User</th>
        <th>Updated At</th>
      <tbody>
        {{- range .Data.files }}
        <tr>
          <td>
            <a href="/{{ .Username }}/{{ .Alias }}">{{ .Alias }}</a>
          </td>
          <td>{{ .Path }}</td>
          <td>
            <a href="/{{ .Username }}">{{ .Username }}</a>
          </td>
          <td>{{ .UpdatedAt }}</td>
        </tr>
        {{ end -}}
      </tbody>
    </table>
  </div>
  {{- else if and (not .Data.files) .Data.query }}
  <strong>No results</strong>
  {{ end -}}
</main>
