<main>
  {{- template "settings_header" . }}
  <pre><code>dotfile config username {{ .Username }}</code></pre>
  <pre><code>dotfile config token {{ .CLIToken }}</code></pre>
  <pre><code>dotfile config remote {{ .Data.remote }}</code></pre>
  <form method="post" class="inline">
    <input type="hidden" name="token" value="{{ .CLIToken }}"/>
    <button class="success">Rotate Token</button>
  </form>
</main>
