<main>
  {{- template "settings_header" . }}
  <form method="post">
    <label for="current">Current:</label>
    <input id="current" name="current" type="password" required="required"/>
    <label for="new">New:</label>
    <input id="new" name="new" type="password" autocomplete="new-password" required="required"/>
    <label for="confirm">Confirm:</label>
    <input id="confirm" name="confirm" type="password" autocomplete="new-password" required="required"/>
    <button>Submit</button>
  </form>
</main>
