<main>
  {{- template "settings_header" . }}
  <p>Change your account timezone by entering a TZ database location. See <a href="/docs/web.org#set-timezone">web docs</a> for more information.</p>
  <form method="post">
    <label for="timezone">Timezone:</label>
    <input value="{{ if .Timezone }}{{ .Timezone }}{{ end }}" id="timezone" name="timezone" required="required"/>
    <button>Submit</button>
  </form>
</main>
