<main>
  <h1>{{ .Title }}</h1>
  <form method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" required="required"/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required="required"/>
    <button>Submit</button>
  </form>
  <p>Forgot your password? <a href="/account_recovery">Recover your account</a>.</p>
</main>
