<main>
    <h1>{{ .Title }}</h1>
    <p>Username must be alphanumeric and password must be at least 8 characters.</p>
    <p>Email is optional; it's never shared and is only used for account recovery.</p>
    <p>By signing up you agree to the <a href="/terms">terms</a>.</p>
    <form method="post">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" required="required"/>
        <label for="email">Email:</label>
        <input id="email" name="email" type="email"/>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" required="required"/>
        <label for="confirm">Confirm Password:</label>
        <input id="confirm" name="confirm" type="password" required="required"/>
        <button>Submit</button>
    </form>
</main>
